.shopping-cart-section{ 
    background-color: #f6fff6;
    padding:23px;
    min-height: 100vh;
}

.shopping-cart-inner{
    background-color: white;
    padding:23px;
    border-radius: 9px;
}

.shopping-cart-footer{
    display: flex;
    justify-content: flex-end;
    
}

button.shopping-cart-footer-button{
    background-color:black;
    color:#eeae6ac7;
    height: 40px;
    width: 100%;
    border-radius: 6px;
}

button.shopping-cart-footer-button:hover{
    background-color: #d8842c;
    color: white;
    border: none;
}

img.cart_img{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    object-fit: cover;
}